html,
body {
    height: 100%;
}

footer {
    position: relative;
    z-index: 1;
    width: 30%;
    top: -8%;
    margin-left: 1%;

    color: #FFF;
}

.fullscreen-theme.container {
    height: 100%;
    background-color: #555;
}